<!doctype html>
<html ng-app="indelibleApp">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title data-ng-bind="page_title"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css({.tmp,app}) /styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/errors.css">
        <link rel="stylesheet" href="styles/page.css">
        <link rel="stylesheet" href="styles/users.css">
        <link rel="stylesheet" href="styles/home.css">
        <!-- endbuild -->
</head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class='flash' data-informer>
      <div class="flash-msg-{{type}}" data-ng-show="this[type].length >= 0" data-ng-repeat='type in types'>
        <div class="container">
          <ul><li data-ng-repeat='msg in this[type]'>{{msg}}</li></ul>
        </div>
      </div>
      <div class='flash-mask'></div>
    </div>
    <div class="container row">
        <div class="span4 offset4">
          <h1 class='logo'><a class="logo-link" href="/"></a></h1>
        </div>
        <div class="span3">
          <div class="usercorner" data-usercorner>
            <span data-ng-bind-html="content"></span>
            <div data-ng-switch on="session.loggedIn">
              <ul class="usercorner-list" data-ng-switch-when="false">
                <li><a href="/log_in">Log in</a></li>
                <li>or</li>
                <li><a href="/register">Register</a></li>
              </ul>
              <ul class="usercorner-list" data-ng-switch-when="true">
                <li><a href="/pages/new">New Page</a></li>
                <li><a href="#" data-ng-click="destroy()">Log out</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="container indelible-main row">
      <div class="span12" ng-view=""></div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>

        <!-- build:js /scripts/plugins.js -->
        <script src="bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
        <script src="bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
        <!-- endbuild -->

        <!-- build:js /scripts/modules.js -->
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-ui/build/angular-ui.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) /scripts/scripts.js -->
        <script src="scripts/app.js"></script>
				<script src="scripts/config/router.js"></script>
				<script src="scripts/config/constants.js"></script>
        <script src="scripts/config/config.js"></script>
        <script src="scripts/config/flash-interceptor.js"></script>
        <script src="scripts/filters/cut.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/registrations.js"></script>
        <script src="scripts/controllers/sessions.js"></script>
				<script src="scripts/controllers/pages.js"></script>
        <script src="scripts/directives/textarea.js"></script>
        <script src="scripts/directives/greenlight.js"></script>
        <script src="scripts/directives/blinker.js"></script>
        <script src="scripts/directives/usercorner.js"></script>
        <script src="scripts/directives/informer.js"></script>
        <script src="scripts/services/page.js"></script>
        <script src="scripts/services/typertimer.js"></script>
        <script src="scripts/services/session.js"></script>
        <script src="scripts/services/flash.js"></script>
				<script src="scripts/resources/user.js"></script>
        <!-- endbuild -->
</body>
</html>
