<!doctype html>
<html ng-app="indelibleApp">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title data-ng-bind="page_title"></title>
  <meta name="description" content="Indelible combines permanence and convenience in an online journal that will help you become a better writer.">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <!-- build:css({.tmp,app}) /styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/errors.css">
  <link rel="stylesheet" href="styles/page.css">
  <link rel="stylesheet" href="styles/users.css">
  <link rel="stylesheet" href="styles/home.css">
  <link rel="stylesheet" href="styles/animations.css">
  <!-- endbuild -->
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<div class='flash' data-informer>
  <div class="flash-msg-{{type}}" data-ng-show="this[type].length >= 0" data-ng-repeat='type in types'>
    <div class="container">
      <ul><li data-ng-repeat='msg in this[type]'>{{msg}}</li></ul>
    </div>
  </div>
  <div class='flash-mask'></div>
</div>
<div class="">
  <div class="row-fluid" style="position: relative;">
    <div>
      <h1 class='logo'><a class="logo-link" title="Indelible — Pen and paper for the internet" href="/"></a></h1>
    </div>
    <div>
      <div class="usercorner" data-usercorner>
        <div data-ng-switch on="session.loggedIn">
          <ul class="usercorner-list" data-ng-switch-when="false">
            <li><a href="/log_in">Log in</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
          <ul class="usercorner-list" data-ng-switch-when="true">
            <li><a href="/users/account">Account</a></li>
            <li><a href="#" data-ng-click="destroy()">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container indelible-main">
  <div class="row-fluid">
    <div class="span12" ng-view=""></div>
  </div>
</div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('pk_yBk1sb8goPw2BC41obwfz46sf9jeT');
</script>
<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
  typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
  b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("3e7e14568ebc1112d68125d48e1bab8b");
</script><!-- end Mixpanel -->

<!-- build:js /scripts/modules.js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-ui/build/angular-ui.js"></script>
<script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap.js"></script>
<script src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angularitics/src/angulartics.js"></script>
<script src="bower_components/angularitics/src/angulartics-mixpanel.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) /scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/config/router.js"></script>
<script src="scripts/config/constants.js"></script>
<script src="scripts/config/config.js"></script>
<script src="scripts/config/flash-interceptor.js"></script>
<script src="scripts/filters/cut.js"></script>
<script src="scripts/filters/clearmaps.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/registrations.js"></script>
<script src="scripts/controllers/sessions.js"></script>
<script src="scripts/controllers/pages.js"></script>
<script src="scripts/controllers/users.js"></script>
<script src="scripts/directives/textarea.js"></script>
<script src="scripts/directives/greenlight.js"></script>
<script src="scripts/directives/blinker.js"></script>
<script src="scripts/directives/usercorner.js"></script>
<script src="scripts/directives/informer.js"></script>
<script src="scripts/directives/highlight.js"></script>
<script src="scripts/directives/parser.js"></script>
<script src="scripts/directives/paragraph.js"></script>
<script src="scripts/services/page.js"></script>
<script src="scripts/services/typertimer.js"></script>
<script src="scripts/services/maps.js"></script>
<script src="scripts/services/parser.js"></script>
<script src="scripts/services/session.js"></script>
<script src="scripts/services/flash.js"></script>
<script src="scripts/services/marks.js"></script>
<script src="scripts/resources/user.js"></script>
<script src="scripts/resources/subscription.js"></script>
<script src="scripts/resources/range.js"></script>
<script src="scripts/resources/paragraph.js"></script>
<script src="scripts/resources/collections/collection.js"></script>
<script src="scripts/resources/collections/paragraphs.js"></script>
<!-- endbuild -->
</body>
</html>
