<div class="content static spaced" style="margin-top:0px;">
  <div class="prompt-box">
    <div class="lead">Write like Hemmingway</div>
    <div style="z-index:100;position:relative;">Indelible is an online journal that will help you become a better writer.</div>
    <div class="prompt-register-wrapper">
      <a class="prompt-register" href="/register">
        Get started now
      </a>
    </div>
    <div style="width:30px;height:100%;position:absolute;right:50px;top:0;background-image:url('/images/journal-string.png');"></div>
    <!--<img style="position:absolute;right:0;top:0;height:234px;" src="/images/journal.png"/>-->

    <ul class="features-list">
      <li>
        <img src="/images/lock.png"/>
        <div class="center">Just Practice</div>
        <div class="small center">Every post is private unless you to make it public&mdash;it&#8217;s writing without external pressure.</div>
      </li>
      <li>
        <img src="/images/focus.png"/>
        <div class="center">No Edits</div>
        <div class="center small">The next word always has your undivided attention. Fewer distractions now, fewer edits later.</div>
      </li>
      <li>
        <img src="/images/page.png"/>
        <div class="center">Track Progress</div>
        <div class="small center">Keep all your practice pages in one place and compare them over time.</div>
      </li>
    </ul>
  </div>
</div>

<div class="content static spaced padded">
  <h1>How?</h1>
  <br>
  Indelible doesn&#8217;t let you use the backspace key. That sounds restrictive, and it is. You can&#8217;t detour to rework old sentences. You can&#8217;t write half a thought down and expect to finish it later. Indelible forces focus.<br>
  <br>
  All that exists is what you&#8217;re writing in the moment. As with pen and paper, you start to feel the weight of each word as it drops onto the page. When you sit down and experience it for yourself, it changes the way you approach writing.<br>
  <br>
  Modern text editors like Microsoft Word make it easy to break concentration and jump around to edit. They&#8217;re great for writing finished, polished stories and essays, but not for practicing or first drafts because it lacks the built-in focus of a permanent medium.<br>
  <br>
  When your editor makes each word count, you pay more attention&mdash;and that focus is the key to improvement.<br>
  <br>
  Curious?<br>
  <br>
  Give yourself five uninterrupted minutes to try it right now. It&#8217;s a meditative experience.
</div>

<div data-greenlight style="background:#00aa00;height:2px;width:{{width}}%;"></div>
<div class="content page editor" data-textarea>
  <span data-ng-bind-html="page.content"></span><span class="editor-cursor" data-blinker="page.new || page.is_owned_by_current_user()">|</span>
  &nbsp;
</div>

<div class="content static spaced padded">
  Everything on Indelible is private by default, so there&#8217;s no external pressure to create something perfect. Just give yourself the time to consider each word before it hits the page and have at it.<br>
  <br>
  <div class="center">
    Eliminate distractions.<br>
    <br>
    Use Indelible.
  </div><br>
  <a class="btn btn-success register-prompt" href='/register'>Improve now</a>
  <div class="center small">It&#8217;s free.</div>
</div>