<div class="content spaced">
  <span class="lead">Indelible is an online journal that will make you a better writer.</span><br>
  <br>
  It&#8217;s just like pen and paper&mdash;once you put a word down, it&#8217;s there forever. There&#8217;s no jumping around to make edits
  or juggling threads of logic. Your writing is focused on only one thing&mdash;<strong>your current thought</strong>. And that focus is
  the key to improvement. It&#8217;s a meditative experience.<br>
  <br>
  Don&#8217;t take my word for it though. Slow down for a second and write a bit about your day:
</div>

<div data-greenlight style="background:#00aa00;height:2px;width:{{width}}%;"></div>
<div class="content page editor" data-textarea>
  <span data-ng-bind-html="page.content"></span><span class="editor-cursor" data-blinker>|</span>
  &nbsp;
</div>

<div class="content spaced" style="margin-bottom:100px;">
  Everything on Indelible is private by default, so there&#8217;s no external pressure. Just let the words flow and enjoy the
  process of getting better.<br>
  <br>
  <span style="text-align:center;display:block;margin:0;">Eliminate distractions, use Indelible, get better.</span><br>
  <a class="btn btn-success register-prompt" href='/register'>Start improving now</a>
  <div class="center small">It&#8217;s free.</div>
</div>

<div class="center">
  This text was drafted in Indelible by <a href="http://twitter.com/glipsman">Graham Lipsman</a>.
</div>
