<div class="page-index">
  <a href="/pages/new" class="entry new-page-entry" data-ng-click="openView($event, 'new')">
    <div class="page-link"><span data-ng-show="pages.length == 0">No entries yet—</span>Start a new page</div>
    <div class="page-date">{{now | date:'fullDate'}}</div>
  </a>
  <a href="/pages/{{page.id}}" class="entry" data-ng-click="openView($event, page.id)" data-ng-class="{'saved-page': page.saved, 'public-page': page.is_public}" data-ng-repeat="page in pages">
    <div class="page-link"><span class="page-saved-alert" data-ng-show="page.saved">{{page.saved_message}}</span>{{page.content | clearMaps | cut:true:75 }}</div>
    <div class="page-date">{{page.created_at | date:'fullDate'}}</div>
  </a>
</div>
