<div data-greenlight></div>
<div class="checkbox {{page.status()}}-toggle public-private-toggle" data-ng-show="page.new || page.is_owned_by_current_user()" data-ng-click="page.toggle_status()">
  Your page is {{page.status()}}
</div>
<div class="content page editor" data-textarea>
  <span data-ng-bind-html="page.content"></span><wbr><span class="editor-cursor" data-blinker="page.new || page.is_owned_by_current_user()">|</span>
  &nbsp;
</div>
<button class="btn btn-success page-store-button" data-ng-show="page.new || page.is_owned_by_current_user()" data-ng-click='function()'>Store {{total_words}} words</button>