@import "compass/css3/transition"

@-webkit-keyframes slidein
	from
		max-width: 0
		margin-right: 0
	to
		max-width: 200px
		margin-right: 10px

@-webkit-keyframes slideout
	from
		max-width: 200px
		margin-right: 10px
	to
		max-width: 0
		margin-right: 0
