@import "compass/css3"

@include keyframes(slidein)
	from
		max-width: 0
		margin-right: 0
	to
		max-width: 200px
		margin-right: 10px

@include keyframes(slideout)
	from
		max-width: 200px
		margin-right: 10px
	to
		max-width: 0
		margin-right: 0
