$baseFontFamily: 'Jacquest Francois'
@import "bootstrap-sass/lib/bootstrap"

.page
	padding: 100px 140px
	+box-shadow(0 0 10px rgba(0,0,0,0.5))

.page-store-button
	margin: 20px auto
	display: block

.pages-list-desc
	text-align: center
	margin: 0 0 20px

.page-list
	width: 100%
	border: 1px solid #ccc

.page-link
	height: auto

.page-date
	text-align: right