$baseFontFamily: 'Jacquest Francois'
@import "bootstrap-sass/lib/bootstrap"
@import "compass/css3/transition"

.page
	padding: 100px 140px
	+box-shadow(0 0 10px rgba(0,0,0,0.5))

.page-store-button
	margin: 20px auto
	display: block

.pages-list-desc
	text-align: center
	margin: 0 0 20px

.page-list
	width: 100%
	table-layout: fixed

.page-link
	word-break: break-all
	width: 650px
	float: left

.page-date
	text-align: right
	width: 245px
	float: right

.public-page
	border-color: #189328

.page-saved-alert
	overflow: hidden
	vertical-align: top
	display: inline-block
	white-space: pre
	color: #090
	font-weight: bold
	+transition-property(color)
	+transition-duration(0.15s)
	-webkit-animation: slidein 0.3s, slideout 0.5s 2.3s
	-webkit-animation-timing-function: ease-in, ease-out
	-webkit-animation-fill-mode: forwards
	-moz-animation: slidein 0.3s, slideout 0.5s 2.3s
	-moz-animation-timing-function: ease-in, ease-out
	-moz-animation-fill-mode: forwards
