@import "bootstrap-sass/lib/mixins"

.user-forms
	margin: 20px auto 0
	width: 221px

.subscription-forms
	margin-top: 20px

.payment-errors
	font-size: 20px
	color: #A00
	text-align: center
	font-weight: bold

.credit-card
	padding: 0 40px
	+border-radius(5px)
	margin-bottom: 300px
	+box-shadow(2px 2px 3px rgba(0,0,0,0.25))
	border: 1px solid #666