<div class="user-forms">
  <form name="myForm" ng-submit="create()">
    <div ngRepeat="error in errors">
      {{error}}
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="email" id="email" name="email" placeholder="Email" ng-model="registration.email" ng-minlength="2" required>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="Password" ng-model="registration.password" ng-minlength="2" password-validate required>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="password" id="password_confirmation" name="password_confirmation" placeholder="Confirm password" ng-model="registration.password_confirmation" ng-minlength="2" password-validate required>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign up</button>
      </div>
    </div>
  </form>​
 </div>